@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #2b85ff;
  --color-secondary: #ef863e;

  /* Custom breakpoints for container */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1676px;
  --breakpoint-2xl: 1536px;

  /* Container specific settings */
  /* --container-padding: 8em;
  --container-max-width: 1400px; */
  --container-padding: 2rem;
  --container-padding-lg: 9%;
  --container-center: true;
}

/* @utility container {
  padding-inline: 2rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
} */

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components {
  section {
    @apply py-8;
  }
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }
  .btn-primary {
    @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600;
  }
  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
  }
  .input-label {
    @apply text-xs text-slate-400;
  }
  .container {
    /* width: 100%;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding); */

    /* Center the container */
    @apply mx-auto;
    width: 100%;
    /* max-width: 100%; */
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    /* Responsive padding */
    @media (min-width: 1280px) {
      padding-left: var(--container-padding-lg);
      padding-right: var(--container-padding-lg);
    }
  }
}
